.Heading, .TextInput, button, .NoteText, .DropdownOptions, a, .Note, .EditingNote {
  white-space: pre-wrap;
  color: white;
  background-color: transparent;
  border-radius: 5px;
  font-family: -apple-system, blinkmacsystemfont, 'segoe ui', 'roboto', 'oxygen',
    'ubuntu', 'cantarell', 'fira sans', 'droid sans', 'helvetica neue',
    sans-serif;
}

.Heading {
  text-align: justify;
}

::-webkit-scrollbar {
  width:0;
  background: transparent;
}

.NotesGrid {
  display: grid;
  grid-gap: 50px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.Note, .EditingNote {
  position: relative;
  background: rgb(67, 77, 87);
  border-style: solid;
  border-width: thin;
  border-color: silver;
  width: 200px;
  height: 200px;
}

.EditingNote {
  background: rgb(27, 27, 27);
}

.NoteText {
  outline: none;
  position: absolute;
  top: 20px;
  left: 10px;
  resize: none;
  background: transparent;
  border-color: transparent;
  z-index: 1;
  height: 80%;
}

.Options {
  position: absolute;
  text-align: left;
  right: -25px;
  display: inline-block;
}

.Options a {
  text-decoration: none;
}

.Options a:hover {
  text-decoration: underline;
}

.DoneButton {
  position: absolute;
  top: 205px;
}

.CancelButton {
  position: absolute;
  left: 60px;
  top: 205px;
}

button {
  cursor: pointer;
  border-style: solid;
  border-color: white;
  padding: 5px;
  background: none;
  background-color: transparent;
  margin-right: 5px;
}
