.Heading, .TextInput, button, .NoteText, .DropdownOptions, a, .Note {
  white-space: pre-wrap;
  color: white;
  background-color: transparent;
  border-radius: 5px;
  font-family: -apple-system, blinkmacsystemfont, 'segoe ui', 'roboto', 'oxygen',
    'ubuntu', 'cantarell', 'fira sans', 'droid sans', 'helvetica neue',
    sans-serif;
}

.Heading {
  text-align: justify;
}

::-webkit-scrollbar {
  width:0;
  background: transparent;
}

button {
  cursor: pointer;
  border-style: solid;
  border-color: white;
  padding: 5px;
  background: none;
  background-color: transparent;
  margin-right: 5px;
}

.Note {
  position: relative;
  background: rgb(67, 77, 87);
  border-style: solid;
  border-width: thin;
  border-color: silver;
  width: 200px;
  height: 200px;
}

.NoteText {
  outline: none;
  position: absolute;
  top: 20px;
  left: 10px;
  resize: none;
  background: transparent;
  border-color: transparent;
  z-index: 1;
  height: 80%;
}

.Options {
  position: absolute;
  top: -5px;
  right: 25px;
  display: inline-block;
}

.OptionsButton {
  position: absolute;
  cursor: pointer;
  border: none;
  font-weight: 500;
  z-index: 2;
}

.OptionsButton:hover{
  text-decoration: underline;
}

.DropdownOptions {
  display: block;
  z-index: 3;
}

/* .Options:hover .DropdownOptions {
  display: block;
  position: absolute;
  top: 30px;
  background: brown;
} */

.NotesGrid {
  display: grid;
  grid-gap: 15px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}